.headcol{
    background-color:#143D59;
}

.jkl{
    background-color:lightgray;
}
.jkl img{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.jko{
    margin-top: 12rem;
    margin-bottom: 1rem;
}

.mk{
    color: red;
}

@media screen and (max-width:800px){
    .jkl img{
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    .jko{
        margin-top: 6rem;
        margin-bottom: 5rem;
    }
    .ak{
        height: fit-content;
    }
}
